version: '3.8'

services:
  api:
    # environment:
    #   - GUNICORN_CERT_FILE=/app/certs/cert.pem
    #   - GUNICORN_KEY_FILE=/app/certs/key.pem

    ports:
      # - 8002:443
      - 8002:80

  imgproxy:
    ports:
      - 8080:8080
